[Unit]
Description=Atoms Runit supervision process
After=basic.target

[Service]
ExecStart=/opt/atoms/embedded/bin/runsvdir-start
Restart=always

[Install]
WantedBy=basic.target
